<?xml version='1.0' encoding='utf-8'?>

<!-- Since Hibernate 4.0 is not needed this configuration xml,
     the new standard is keep all the hibernate configuration in
     persistence.xml
-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.org/dtd/hibernate-configuration-5.3.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- JDBC connection -->
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://127.0.0.1:3307/bookstore</property>
        <property name="hibernate.connection.username">dgtic</property>
        <property name="hibernate.connection.password">dgtic1234</property>

        <!-- Hibernate dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- Automatic schema update -->
<!--        <property name="hibernate.hbm2ddl.auto">update</property>-->

        <!-- Debug -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>

        <!-- Entity mappings (XML or annotations) -->
        <mapping class="com.dgtic.unam.model.Book"/>
        <mapping class="com.dgtic.unam.model.Chapter"/>
        <mapping class="com.dgtic.unam.model.Publisher"/>
        <mapping class="com.dgtic.unam.model.Author"/>
        <mapping class="com.dgtic.unam.model.BookAuthor"/>
        <mapping class="com.dgtic.unam.model.BookDetail"/>

    </session-factory>
</hibernate-configuration>
